body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    place-items: center;
}

.signup-box {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    margin: 0 auto 20px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.signup-form label{
    width: 40vw;
}

.signup {
    width: 20%;
    padding: 10px;
    background-color: #92b192 !important;
    color: #fff;
    border: none !important;    
    border-radius: 5px;
    cursor: pointer;
}

.login-link {
    margin-top: 20px;
}